/*Based loosely on the guide at: http://www.w3schools.com/css/css_rwd_grid.asp*/

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
    box-sizing: border-box;
}

/*Container setup*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}

/*Col width definitions relative to their container size*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;    
}


/*
	Various styling for the two nav bars
*/

/*Horizontal nav bar*/
.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

.main li {
    float: left;
}    

.main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main li a:hover {
    background-color: darkgrey;
}

/*Vertical nav bar*/
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #555;
    color: white;
}

.content img {
	position: relative;	
	width: 100%;
}

.footer {
	text-align: left;	
}

/*
  Width is not constant at 960 so that there are not horizontal scroll bars needed
  I scaled the container a little to make it more responsive using these media queries
*/

@media (max-width: 501px) {    
    [class*="col-"] {
        width: 100%;
    }
    .nav ul {
    	background-color: lightblue;
    	color: white; 
    }

    .nav li a {
    	color:white;
    }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Base container width of 960*/

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}